#bodyEquipe {
    font-family: Helvetica;
    font-size: 16px;
    text-align: left;
    margin-top: auto;
    font-weight: bold;
    color: aliceblue;
    font-family: rubik, helvetica, arial, sans-serif;
    background-image: url("../images/backround.jpg");
    background-size: cover;
}

#tableEquipes {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
}
#bodyPerso1 {
  padding: 20px;
  font-family: rubik, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 125%;
  text-align: left;
  padding-bottom: 20px;
  background-image: url("../images/neonBackdrop.jpg");
  background-size: cover;
  background-position: center;
  font-weight: bold;
}

#tablePerso {
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

#tdPerso {
  padding-left: 20px;
}
